BOT_TOKEN=
OPENROUTER_API_KEY=
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
AI_MODEL=deepseek/deepseek-chat-v3-0324:free
DATABASE_NAME=money_insight.db
MERCHANTS_FILE=merchants.json
MAX_TRANSACTIONS_PREVIEW=10